@import "../../scss/base";


.sch-in{
    background-color: $blue;
  height: 500px;
  width: 300px;
  @include flexLayout;
  margin-bottom: 50px;
  @include card;
  flex-direction: column;
  margin-top: 20px;
  
}
.sch{
    @include flexLayout;
}
.sch-greeting{
    color: $light-gray;
    font-size: 36px;
    @include flexLayout;
    margin-top: 20px;
}
.sch-back{
    text-decoration: none;
    color: $dark-gray;
}
.sch-btn{
    @include flexLayout;
    margin-top: 20px;
}